users/var/secondary_1/fuse/*
users/var/secondary_1/data/*
!users/var/secondary_1/fuse/.gitkeep
!users/var/secondary_1/data/.gitkeep

users/var/secondary_2/fuse/*
users/var/secondary_2/data/*
!users/var/secondary_2/fuse/.gitkeep
!users/var/secondary_2/data/.gitkeep


